<div id='form'>
  <h2>ElasticSearch for Articles</h2>

  <%= form_with(model: @article, url: search_result_articles_path, html: {id: "articles_search_form"}, method: :get, remote: true) do |form| %>
    <%= form.text_field (:query) %>
    <%= form.submit 'Search by Elastico' %>
  <% end %>

  <div id="articles_list">
  </div>

  <p>
    <%= link_to 'Close', articles_path %>
  </p>
</div>