<h1>
  Articles DB
  <p>
    <%= link_to 'Home', welcome_index_url %>
  </p>
</h1>
<div id="articles_manage_list">
  <%= link_to 'New article', new_article_path, id: "new_article", remote: true %>
  <%= link_to 'Search article', search_articles_path, id: "search_article", remote: true %>
  <%= link_to 'Show all articles', show_all_articles_path, id: "show_all_articles", remote: true %>
</div>

<div id="articles_contents">
</div>