<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <%= @article.to_json %>
  <br/>
  <%= simple_format("Lorem ipsum, dolor sit amet consectetur adipisicing elit.
  Unde distinctio nemo ipsam! Cupiditate quam illum rem in dicta iusto harum
  autem dolorem eius quis! In ad nulla aliquid quos maiores!") %>
</body>
</html>